<form  action="/cadastro"  method="post" class="row g-3">
<div class="mb-3">
    
  <label for="exampleFormControlInput1" class="form-label">Nome</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Carlos" name="nome">

   <label for="exampleFormControlInput1" class="form-label">Data de nascimento</label>
  <input type="date" class="form-control" id="exampleFormControlInput1"   name="data_nascimento" placeholder="30/03/1999">

    <label for="exampleFormControlInput1" class="form-label">Telefone</label>
  <input type="number" class="form-control" id="exampleFormControlInput1" name="telefone" placeholder="92 996545254">

     <label for="exampleFormControlInput1" class="form-label">CEP</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" name="cep" placeholder="69059140">
  
  <div class="col-auto text-center">
    <button type="submit" class="btn btn-primary mb-3 text-center mt-3">Cadastrar</button>
  </div>

</div>
</form>